node_modules/

.nyc_output/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
editorconfig
.vscode
.idea
.DS_Store
*.log
.env*
local.properties
.nuxt
.output
dist-electron/
.svelte-kit/
.cordova
.hbuilderx
unpackage/